azure-identity==1.25.1
azure-keyvault-secrets==4.10.0
azure-storage-blob==12.27.1
azure-search-documents==11.6.0b2
azure-data-tables==12.7.0 
apiflask
Flask
gunicorn
openai==2.8.1
python-dotenv
bs4
marshmallow_dataclass
typeguard
pyjwt
Flask-HTTPAuth
urllib3==1.26.19 # this version is required for the GEDS API to work
cryptography==43.0.3 #https://github.com/pyca/cryptography/issues/12064
Pillow>=11.1.0
pymssql>=2.3.2 #https://pymssql.readthedocs.io/en/stable/intro.html#getting-started
psycopg[binary]
SQLAlchemy
tiktoken
pypdf
python-docx
openpyxl
python-pptx
requests
flask-cors
