azure-identity
azure-keyvault-secrets
azure-storage-blob
azure-search-documents==11.6.0b2
azure-data-tables 
apiflask
Flask
gunicorn
openai
python-dotenv
bs4
marshmallow_dataclass
typeguard
pyjwt
Flask-HTTPAuth
urllib3==1.26.19 # this version is required for the GEDS API to work