version: "3.9"
services:
  envoy:
    image: envoyproxy/envoy:v1.30.4
    ports:
      - "8080:8080"
      - "9901:9901"
    volumes:
      - ./envoy.yaml:/etc/envoy/envoy.yaml:ro
      - ./certs:/etc/envoy/certs:ro
    environment:
      - ENVOY_SHARED_SECRET=change-me
    extra_hosts:
      - "host.docker.internal:host-gateway"
    command: ["-c", "/etc/envoy/envoy.yaml", "-l", "info"]
    depends_on:
      - opa
      - keycloak

  opa:
    image: openpolicyagent/opa:0.68.0-envoy
    ports:
      - "9191:9191"
    volumes:
      - ./opa.rego:/policy/opa.rego:ro
      - ./opa-config.yaml:/config/opa-config.yaml:ro
    command: ["run", "--server", "--config-file=/config/opa-config.yaml", "/policy/opa.rego"]

  keycloak:
    image: quay.io/keycloak/keycloak:25.0.4
    ports:
      - "8081:8080"
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
      - KC_HOSTNAME=localhost
      - KC_HOSTNAME_STRICT=false
      - KC_HOSTNAME_PORT=8081
      - KC_PROXY=edge
    command: ["start-dev", "--http-port=8080"]
