azure-identity==1.16.1
azure-functions==1.24.0
azure-storage-blob==12.20.0
beautifulsoup4==4.15.0
python-dotenv>=1.2.2
azure-functions-durable==1.5.0
tenacity==8.3.0
openai==2.41.0
llama-index==0.14.16
llama-index-llms-azure-openai==0.4.2
llama-index-embeddings-azure-openai==0.4.1
llama-index-vector-stores-azureaisearch==0.4.5
azure-search-documents==11.6.0b4