name: API

on:
  workflow_call:
    inputs:
      environment:
        type: string
        required: true
      app-name:
        type: string
        required: true
    secrets:
      API_PUBLISH_PROFILE:
        required: false
      AZURE_CREDENTIALS:
        required: false

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        sparse-checkout: 'app/api'
        sparse-checkout-cone-mode: false

    - name: Move api files to pwd
      run: |
        ls -la
        mv app/api/* .
        rm -rf app
        ls -la

    - name: Set up Python
      uses: actions/setup-python@v5.2.0
      with:
        python-version: '3.12'

    - name: Install system dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y freetds-dev gcc libkrb5-dev

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m venv --copies antenv
        source antenv/bin/activate
        pip install -r requirements.txt

    # Add any other necessary build steps here (e.g., tests)
    #- name: Run tests
    #     TODO
    - name: Zip artifact for deployment
      if: github.event_name != 'pull_request'
      run: zip release.zip ./* -r

    - name: Upload artifact for deployment job
      if: github.event_name != 'pull_request'
      uses: actions/upload-artifact@v4.3.3
      with:
        name: api ${{ inputs.environment }}
        path: release.zip

  deploy:
    if: github.event_name != 'pull_request'
    needs: build
    environment: ${{ inputs.environment }}
    runs-on: ubuntu-latest

    steps:
    - name: Download artifact from build job
      uses: actions/download-artifact@v4.1.8
      with:
        name: api ${{ inputs.environment }}

    - name: Log in with Azure
      uses: azure/login@v1
      with:
        creds: '${{ secrets.AZURE_CREDENTIALS }}'

    - name: 'Deploy to Azure Web App'
      uses: azure/webapps-deploy@v3.0.1
      with:
        app-name: ${{ inputs.app-name }}
        # az webapp deployment list-publishing-profiles --name ssc-assistant-dev-api --resource-group YourResourceGroupName --xml (save as secret)
        publish-profile: ${{ secrets.API_PUBLISH_PROFILE }}
        package: 'release.zip'
        startup-command: ''