name: SSC Assistant

on:
  push:
    branches:
      - main
      - 206-fix-double-log-in-issue-in-dev-environment-for-ssc-assistant
  pull_request:

jobs:
  ###################
  #       DEV       #
  ###################
  api-dev:
    uses: ./.github/workflows/api.yml
    with:
      environment: 'dev'
      app-name: 'ssc-assistant-dev-api'
    secrets: inherit

  frontend-dev:
    uses: ./.github/workflows/frontend.yml
    with:
      allowed-tools: 'geds,corporate,archibus'
      environment: 'dev'
      app-name: 'ssc-assistant-dev'
    secrets: inherit

  ###################
  #    PILOT-PROD   #
  ###################
  api-pilot-prod:
    if: github.ref == 'refs/heads/main'
    uses: ./.github/workflows/api.yml
    with:
      environment: 'pilot-prod'
      app-name: 'ssc-assistant-api'
    secrets: inherit

  frontend-pilot-prod:
    if: github.ref == 'refs/heads/main'
    uses: ./.github/workflows/frontend.yml
    with:
      allowed-tools: 'geds,corporate'
      environment: 'pilot-prod'
      app-name: 'ssc-assistant'
    secrets: inherit